<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>726970841601-hi909nuevdt1hkhsea9lgh4utrt0jfth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726970841601-hi909nuevdt1hkhsea9lgh4utrt0jfth</string>
	<key>API_KEY</key>
	<string>AIzaSyBqQzlUPRPyk5ooZy3zQ9oMnZB5eK2QkCs</string>
	<key>GCM_SENDER_ID</key>
	<string>726970841601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rustfri.PNRustfriApp</string>
	<key>PROJECT_ID</key>
	<string>pbrustfri-app</string>
	<key>STORAGE_BUCKET</key>
	<string>pbrustfri-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726970841601:ios:417096ae4933204f</string>
	<key>DATABASE_URL</key>
	<string>https://pbrustfri-app.firebaseio.com</string>
</dict>
</plist>